.navHeader {
    height: 10vh;
    width: 100%;
    background-color: rgb(84, 185, 84);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-end-end-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

.navHeader a {
    text-decoration: none;
}